<div class="hero-unit" id="about">
  <h2>About Git Sleep</h2>
  <div class="screenshots">
    <p>Git Sleep can prevent your git commits when you are too tired to code:</p>
    <%= image_tag "prevented_commit.png", :class => "img-polaroid" %>
    <p>Git Sleep can log your sleep alongside your commits in <a href="http://git-scm.com/blog/2010/08/25/notes.html">git notes</a>:</p>
    <%= image_tag "git_note.png", :class => "img-polaroid" %>
  </div>
</div>