<div class="hero-unit" id="contact">
  <h2>Fork us on Github</h2>
  <ul>
    <li><a href= "https://github.com/maxjacobson">Max Jacobson</a></li>
    <li><a href= "https://github.com/ruthienachmany">Ruthie Nachmany</a></li>
    <li><a href= "https://github.com/sarahduve">Sarah Duve</a></li>
  </ul>
</div>