<footer>
  <p>
    <strong>Made with healthy hacking habits at the <a href = "https://jawbone.com/up/">Jawbone</a> + <a href="http://tumblr.com">Tumblr</a> + <a href = "http://www.clintonfoundation.org/">Clinton Foundation</a> + <a href = "http://www.acehotel.com/newyork">Ace Hotel Hackathon</a><span class="pull-right">August 9-11, 2013</span></strong>
  </p>
</footer>